@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-svg{
    background-image: url('/cart.svg');
    background-repeat: no-repeat;
}

.search-svg{
    background-image: url('/search.svg');
}

.backgroundgreen{
    background-image: url('../../public/backgroundgreen.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
.backgroundblue{
    background-image: url('../../public/backgroundblue.jpg');
    background-position: center; 
    background-size: cover;
    background-repeat: repeat;
    /* background-position: 50px -320px ;     */
}